body {
    font-family: Verdana, "Times New Roman", sans-serif;
}

h1 {
    color: rgb(10, 129, 119);
    text-align: center;
}

img {
    height: auto;
    width: 800px;

}

div.image{
    text-align: center;
}


.recipe-list {
    background-color: #e718d6;
    color: rgb(253, 226, 106);
    font-size: 22px;
    text-align: left;
    
}

.pizza {
    background-color: aqua;
    color: red;
    font-size: 30px;

}